@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  *:focus {
    @apply outline-0;
  }
  html {
    @apply text-gray-800;
  }
}

@layer components {
  /* Custom Scroll */
  .custom-scroll::-webkit-scrollbar {
    @apply w-2 h-2;
  }
  .custom-scroll::-webkit-scrollbar-thumb {
    @apply bg-[#babac0] rounded-full;
  }
  .custom-scroll::-webkit-scrollbar-button {
    @apply hidden;
  }

  .hidden-scroll::-webkit-scrollbar {
    @apply hidden;
  }
}

@layer utilities {
  input[type='number']::-webkit-inner-spin-button,
  input[type='number']::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
}

.pattern {
  width: 100%;
  height: 100%;
  --s: 37px; /* control the size */

  --c: #0000, #0f172a 0.5deg 119.5deg, #0000 120deg;
  --g1: conic-gradient(from 60deg at 56.25% calc(425% / 6), var(--c));
  --g2: conic-gradient(from 180deg at 43.75% calc(425% / 6), var(--c));
  --g3: conic-gradient(from -60deg at 50% calc(175% / 12), var(--c));
  background: var(--g1), var(--g1) var(--s) calc(1.73 * var(--s)), var(--g2),
    var(--g2) var(--s) calc(1.73 * var(--s)), var(--g3) var(--s) 0,
    var(--g3) 0 calc(1.73 * var(--s)) #1e293b;
  background-size: calc(2 * var(--s)) calc(3.46 * var(--s));
}
